# Actividad - Trabajando con DataFrames de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: pandas_df_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter
* Deben trabajar con el datasets adjunto a la actividad

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

In [2]:
import pandas as pd
import sqlite3

#Aqui agrega la conexión a la base de datos
conn = sqlite3.connect("Salaries.sqlite")

#Crea el dataframe con los datos del datasets
df = pd.read_sql_query("SELECT * FROM Salaries", conn)

#Cerrar conexion
conn.close()

In [6]:
df.count().isnull()

Id                  False
EmployeeName        False
JobTitle            False
BasePay             False
OvertimePay         False
OtherPay            False
Benefits            False
TotalPay            False
TotalPayBenefits    False
Year                False
Notes               False
Agency              False
Status              False
dtype: bool

In [7]:
print(df.isnull().sum())

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

1. **Top 10 empleados con mayor salario total (incluyendo beneficios)**
Extrae e imprime un top 10 de expleados con mayor salario incluyendo los beneficios

In [3]:
#Extraer los 10 empleados con mayor salario (nombre + salario y beneficio)
top = df.nlargest(10, 'TotalPayBenefits')[['EmployeeName','TotalPayBenefits']]
print(top)

                EmployeeName  TotalPayBenefits
0             NATHANIEL FORD         567595.43
1               GARY JIMENEZ         538909.28
110531           David Shinn         510732.68
110532            Amy P Hart         479652.21
110533  William J Coaker Jr.         436224.36
72925         Gregory P Suhr         425815.28
72926   Joanne M Hayes-White         422353.40
110534        Gregory P Suhr         418019.22
110535  Joanne M Hayes-White         417435.10
110536       Ellen G Moffatt         415767.94

2. **Filtrar empleados con más de 50,000 en horas extra, la columna a tratar es: (OvertimePay)**

In [12]:
#Convertir los valores no numericos a NAN
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'], errors='coerce')
#Reemplazar NaN a 0
df['OvertimePay'] = df['OvertimePay'].fillna(0)
#Convertir la columna a int
df['OvertimePay']= df['OvertimePay'].astype(int)
#Condicion de filtrar solo los mayores a 50000
horasextra = df[df['OvertimePay'] > 50.000] 
print(horasextra)

            Id       EmployeeName  \
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
5            6     DAVID SULLIVAN
...        ...                ...
148285  148286      Greg K Hansen
148300  148301      Julien N Heng
148386  148387      Michael Brito
148398  148399     Shane O'Connor
148412  148413      Johan L Selor

                                            JobTitle    BasePay  OvertimePay  \
1                    CAPTAIN III (POLICE DEPARTMENT)  155966.02       245131
2                    CAPTAIN III (POLICE DEPARTMENT)  212739.13       106088
3               WIRE ROPE CABLE MAINTENANCE MECHANIC    77916.0        56120
4       DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)   134401.6         9737
5                          ASSISTANT DEPUTY CHIEF II   118602.0         8601
...                                              ...        ...          ...
148285                                  Junior Clerk     156.50          249
148300                                  Junior Clerk     152.00          228
148386                                  Junior Clerk     156.50          102
148398                              Transit Operator     151.38           56
148412                            Testing Technician     186.20           52

         OtherPay Benefits   TotalPay  TotalPayBenefits  Year Notes  \
1       137811.38     None  538909.28         538909.28  2011  None
2         16452.6     None  335279.91         335279.91  2011  None
3        198306.9     None  332343.61         332343.61  2011  None
4       182234.59     None  326373.19         326373.19  2011  None
5       189082.74     None  316285.74         316285.74  2011  None
...           ...      ...        ...               ...   ...   ...
148285       0.00     4.06     405.92            409.98  2014  None
148300       0.00     3.80     380.00            383.80  2014  None
148386       0.00     2.59     259.20            261.79  2014  None
148398       0.00    42.84     208.15            250.99  2014  None
148412       0.00     2.39     238.57            240.96  2014  None

               Agency Status
1       San Francisco   None
2       San Francisco   None
3       San Francisco   None
4       San Francisco   None
5       San Francisco   None
...               ...    ...
148285  San Francisco     PT
148300  San Francisco     PT
148386  San Francisco     PT
148398  San Francisco     PT
148412  San Francisco     PT

[70239 rows x 13 columns]

3. **Contar cuántos empleados únicos hay por año**

In [ ]:
#Agrupa el df por las columnas Year y EmployeeName
#Cuenta los nombres unicos que hay por año 
empleados = df.groupby('Year')['EmployeeName'].nunique()
empleados

Year
2011    33878
2012    34349
2013    36150
2014    36684
Name: EmployeeName, dtype: int64

4. **Ver cuántos cargos únicos (JobTitle) existen y los 5 más comunes**

In [ ]:
#Cuenta los cargos unicos que tiene la columna JobTitle
cargos = df['JobTitle'].nunique()
print("Numero de cargos unicos: ",cargos)
#Cuenta cuantas veces aparece cada cargo 
comunes = df['JobTitle'].value_counts()
#Muestra los 5 primeros mas comunes
print("Mas comunes:",comunes.head(5))

Numero de cargos unicos:  2159
Mas comunes: JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

5. **Mostrar el salario total (TotalPay) promedio por año**

In [27]:
#Agrupar el TotalPay por año y sacar el promedio
salario = df.groupby('Year')['TotalPay'].mean()
salario

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

6. **Exporta todos los datos a un CSV y muestra los ultimos 10 valores**

In [ ]:
#todo